backend/src/main/resources/schema/orders-soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/iis/orders-soap"
           targetNamespace="http://example.com/iis/orders-soap"
           elementFormDefault="qualified">

    <!-- Input: the search term used to filter orders via XPath. -->
    <xs:element name="SearchOrdersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="term" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Output: every order matching the term. -->
    <xs:element name="SearchOrdersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="tns:OrderInfo" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="matchCount" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="OrderInfo">
        <xs:sequence>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="total" type="xs:string"/>
            <xs:element name="customerName" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
